<div class="page page-dashboard">
	<div class="pageheader">
		<h2><b>{{page.title}}</b></h2>
		<div class="row">
			<div class="col-md-4">
				<div class="gray-ps-1 br-15 b-0">
					<p class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup="MM/yyyy" ng-model="page.filters.date.value" is-open="page.filters.date.opened" datepicker-options="{minMode: 'month', showButtonBar: false}" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" readonly />
						<span class="input-group-btn" required>
							<button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<ui-select class="gray-ps-3 br-15 b-0" ng-model="page.filters.companies.selected" close-on-select="true" ng-change="getConstructions(page.filters.companies.selected)" title="Empresas">
					<ui-select-match placeholder="Empresa"><span ng-bind="$select.selected.name  | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="company in page.filters.companies.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="company.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-4">
				<ui-select class="blue-ps-1 br-15 b-0" ng-model="page.filters.constructions.selected" close-on-select="true" ng-change="getDashboardInfo()" ng-disabled="page.filters.constructions.disabled" title="Obras">
					<ui-select-match placeholder="Obra"><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="construction in page.filters.constructions.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="construction.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-6">
			<section class="tile">
	          	<div class="tile-header dvd dvd-btm">
	            	<h1 class="custom-font"><strong>Tasa de accidentabilidad</strong> (Globales)</h1>
	          	</div>
	          	<div class="tile-body">
	            	<highchart config="accidentabilidadGlobal"></highchart>
	           	</div>
	        </section>
		</div>

		<div class="col-md-6">
			<section class="tile">
	          	<div class="tile-header dvd dvd-btm">
	            	<h1 class="custom-font"><strong>Tasa de siniestralidad</strong> (Globales)</h1>
	          	</div>
	          	<div class="tile-body">
	            	<highchart config="siniestralidadGlobal"></highchart>
	           	</div>
	        </section>

		</div>
	</div>

	<div class="row">

		<div class="col-md-6">
			<section class="tile">
	          	<div class="tile-header dvd dvd-btm">
	            	<h1 class="custom-font"><strong>Tasa acumulada de accidentabilidad</strong></h1>
	          	</div>
	          	<div class="tile-body">
	            	<highchart config="tasaAccidentabilidad"></highchart>
	           	</div>
	        </section>
		</div>

		<div class="col-md-6">
			<section class="tile">
	          	<div class="tile-header dvd dvd-btm">
	            	<h1 class="custom-font"><strong>Tasa acumulada de siniestralidad</strong></h1>
	          	</div>
	          	<div class="tile-body">
	            	<highchart config="tasaSiniestralidad"></highchart>
	           	</div>
	        </section>

		</div>
	</div>
</div>
