<div class="page page-dashboard">
	<div class="pageheader">
		<h2><b>{{page.title}}</b></h2>
		<div class="row">
			<div class="col-md-3 mt-5">
				<div class="gray-ps-1 br-15 b-0">
					<input type="text" class="bg-gray-ps-1 br-15 text-sm form-control b-0n date-picker" uib-datepicker-popup="{{page.filters.date.format}}" ng-model="page.filters.date.value" is-open="page.filters.date.opened" min-date="minDate" datepicker-options="page.filters.date.dateOptions" ng-required="true" ng-click="open($event)" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" readonly />
				</div>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-3 br-15 b-0" ng-model="page.filters.companies.selected" close-on-select="true" ng-change="getConstructions({success:true,detail:'OK'},page.filters.companies.selected);getDashboardInfo({success:true,detail:'OK'})" title="Empresas">
					<ui-select-match placeholder="Empresa"><span ng-bind="$select.selected.name  | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="company in page.filters.companies.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="company.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="gray-ps-1 br-15 b-0" ng-model="page.filters.supervisor.selected" close-on-select="true" ng-disabled="page.filters.supervisor.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Supervisores">
					<ui-select-match placeholder="Supervisor"><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="user in page.filters.supervisor.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="user.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-3 mt-5">
				<ui-select class="blue-ps-2 br-15 b-0" ng-model="page.filters.status.selected" sortable="true" close-on-select="true" ng-disabled="page.filters.status.disabled" ng-change="getDashboardInfo({success:true,detail:'OK'})" title="Tiendas">
					<ui-select-match placeholder="Estado"><span ng-bind="$select.selected.nameB | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="estado in page.filters.status.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="estado.nameB | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-6">
			<section class="tile">
	          	<div class="tile-header dvd dvd-btm">
	            	<h1 class="custom-font"><strong>Tasa de accidentabilidad</strong> (Globales)</h1>
	          	</div>
	          	<div class="tile-body">
	            	<highchart config="accidentabilidadGlobal"></highchart>
	           	</div>
	        </section>
		</div>

		<div class="col-md-6">
			<section class="tile">
	          	<div class="tile-header dvd dvd-btm">
	            	<h1 class="custom-font"><strong>Tasa de siniestralidad</strong> (Globales)</h1>
	          	</div>
	          	<div class="tile-body">
	            	<highchart config="siniestralidadGlobal"></highchart>
	           	</div>
	        </section>

		</div>
	</div>

	<div class="row">

		<div class="col-md-6">
			<section class="tile">
	          	<div class="tile-header dvd dvd-btm">
	            	<h1 class="custom-font"><strong>Tasa acumulada de accidentabilidad</strong></h1>
	          	</div>
	          	<div class="tile-body">
	            	<highchart config="tasaAccidentabilidad"></highchart>
	           	</div>
	        </section>
		</div>

		<div class="col-md-6">
			<section class="tile">
	          	<div class="tile-header dvd dvd-btm">
	            	<h1 class="custom-font"><strong>Tasa acumulada de siniestralidad</strong></h1>
	          	</div>
	          	<div class="tile-body">
	            	<highchart config="tasaSiniestralidad"></highchart>
	           	</div>
	        </section>

		</div>
	</div>
</div>
