<div class="page page-dashboard">
	<div class="pageheader">
		<h2><b>{{page.title}}</b></h2>
		<div class="row">
			<div class="col-md-4">
				<div class="gray-ps-1 br-15 b-0">
					<input type="text" class="bg-gray-ps-1 br-15 text-sm form-control b-0n date-picker" uib-datepicker-popup="{{page.filters.date.format}}" ng-model="page.filters.date.value" is-open="page.filters.date.opened" min-date="minDate" datepicker-options="page.filters.date.dateOptions" ng-required="true" ng-click="open($event)" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" readonly />
				</div>
			</div>
			<div class="col-md-4">
				<ui-select class="gray-ps-3 br-15 b-0" ng-model="page.filters.companies.selected" close-on-select="true" ng-change="getConstructions(page.filters.companies.selected);getDashboardInfo()" title="Empresas">
					<ui-select-match placeholder="Empresa"><span ng-bind="$select.selected.name  | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="company in page.filters.companies.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="company.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-4">
				<ui-select class="blue-ps-1 br-15 b-0" ng-model="page.filters.constructions.selected" close-on-select="true" ng-change="getDashboardInfo()" ng-disabled="page.filters.constructions.disabled" title="Obras">
					<ui-select-match placeholder="Obra"><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
					<ui-select-choices repeat="construction in page.filters.constructions.list | propsFilter: {name: $select.search}">
						<div ng-bind-html="construction.name | highlight: $select.search | capitalize:true"></div>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
  	</div>

	<div class="row">
		<section class="tile">
          	<div class="tile-header dvd dvd-btm">
            	<h1 class="custom-font"><strong>Cantidad de hallazgos</strong> (Globales)</h1>
          	</div>

          	<div class="tile-body">
            	<div class="row">
              		<div class="col-md-8 solid">
              			<highchart config="cantidadHallazgos"></highchart>
              		</div>
              		<div class="col-md-4">
              			<div class="col-md-12 solid">
			        		<section class="tile tile-simple">
					          <div class="tile-body text-center">
					            <h1 class="m-0" style="color: green; font-size: 500%;"><b>{{dashboard.cantHallazgosGlobales}}</b></h1>
					            <span class="text" style="font-size: 150%;"><b>Hallazgos encontrados</b></span>
					          </div>
					        </section>
			        	</div>
			        	<div class="col-md-12 solid">
			        		<section class="tile" >
								<div class="tile-widget">
									<highchart config="cantidadHallazgosDonut"></highchart>
								</div>
							</section>
			        	</div>
              		</div>
            	</div>
           	</div>
        </section>
	</div>

	<div class="row">
		<section class="tile">
          	<div class="tile-header dvd dvd-btm">
            	<h1 class="custom-font"><strong>Cumplimiento de hallazgos</strong> (Globales)</h1>
          	</div>
          	<div class="tile-body">
            	<div class="row">
              		<div class="col-md-3 solid">
              			<highchart config="cumplimientoHallazgosDonut"></highchart>
              		</div>
              		<div class="col-md-3 solid">
		        		<section class="tile tile-simple">
				          	<div class="tile-body text-center">
				           		<h1 class="m-0" style="color: orange; font-size: 500%;"><b>75%</b></h1>
					        	<span class="text" style="font-size: 150%;"><b>Cumplimiento</b></span>
				          	</div>
				        </section>
			       	</div>
		        	<div class="col-md-6">
		        		<section class="tile" >
							<div class="tile-widget">
					          	<div class="tile-body text-center solid">
					            	<div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Cumplimiento interno</b></div>
				            		<div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">55%</b></div>
					          	</div>
					          	<div class="tile-body text-center solid">
					            	<div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Cumplimiento contratistas</b></div>
				            		<div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">20%</b></div>
					          	</div>
							</div>
						</section>
		        	</div>
            	</div>
           	</div>
        </section>
	</div>

	<div class="row">
		<section class="tile">
          	<div class="tile-header dvd dvd-btm">
            	<h1 class="custom-font"><strong>Indice de hallazgos por mes para obras seleccionadas</strong></h1>
          	</div>
          	<div class="tile-body">
            	<div class="row">
              		<div class="col-md-12 solid">
              			<section class="tile tile-simple">
				          	<div class="tile-body text-center">
				          		<ui-select class="blue-ps-1 br-15 b-0" ng-model="page.filters.constructions.selected" close-on-select="true" ng-change="getDashboardInfo()" ng-disabled="page.filters.constructions.disabled" title="Obras">
									<ui-select-match placeholder="Obra"><span ng-bind="$select.selected.name | capitalize:true"></span></ui-select-match>
									<ui-select-choices repeat="construction in page.filters.constructions.list | propsFilter: {name: $select.search}">
										<div ng-bind-html="construction.name | highlight: $select.search | capitalize:true"></div>
									</ui-select-choices>
								</ui-select>
				          	</div>
				        </section> 
              		</div>
		        	<div class="col-md-12">
		        		<highchart config="indiceHallazgos"></highchart>
		        	</div>
            	</div>
           	</div>
        </section>
	</div>
	<div class="row">
		<div class="col-md-6">
			<section class="tile">
          		<div class="tile-header dvd dvd-btm">
            		<h1 class="custom-font"><strong>Causas Directas</strong></h1>
          		</div>
          		<div class="tile-body">
            		<div class="row">
              			<div class="col-md-6">
              				<highchart config="causasDirectas"></highchart>
              			</div>
              			<div class="col-md-6">
              				<div class="tile-body text-center">
				           		<h1 class="m-0" style="color: orange; font-size: 500%;"><b>25</b></h1>
					        	<span class="text" style="font-size: 150%;"><b>Directas</b></span>
				          	</div>
              			</div>
              			<div class="col-md-12">
					        <section class="tile tile-simple">
					          <div class="tile-body p-0">
					            <div class="list-group no-radius no-border">
					              <a class="list-group-item">
					                <div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Demasiada actividad fisica</b></div>
				            		<div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">10</b></div>
					              </a>
					              <a class="list-group-item">
					                <div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Uso incorrecto de herramientas</b></div>
				            		<div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">15</b></div>
					              </a>
					              <a class="list-group-item">
					                <div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Falta de conocimiento de peligros</b></div>
				            		<div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">10</b></div>
					              </a>
					              <a class="list-group-item">
					                <div style="text-align: center">
				                		<b style="color:green;">
				                			Ver Todas
				                		</b>
					                </div>
					              </a>
					            </div>

					          </div>
					        </section>
              			</div>
            		</div>
          		</div>
        	</section>
		</div>

		<div class="col-md-6">
			<section class="tile">
          		<div class="tile-header dvd dvd-btm">
            		<h1 class="custom-font"><strong>Causas básicas</strong></h1>
          		</div>
          		<div class="tile-body">
            		<div class="row">
              			<div class="col-md-6">
              				<highchart config="causasBasicas"></highchart>
              			</div>
              			<div class="col-md-6">
              				<div class="tile-body text-center">
				           		<h1 class="m-0" style="color: orange; font-size: 500%;"><b>25</b></h1>
					        	<span class="text" style="font-size: 150%;"><b>Básicas</b></span>
				          	</div>
              			</div>
              			<div class="col-md-12">
					        <section class="tile tile-simple">
					          <div class="tile-body p-0">
					            <div class="list-group no-radius no-border">
					              <a class="list-group-item">
					                <div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Capacidad respiratoria débil</b></div>
				            		<div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">10</b></div>
					              </a>
					              <a class="list-group-item">
					                <div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Lesión o enfermedad anterior</b></div>
				            		<div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">15</b></div>
					              </a>
					              <a class="list-group-item">
					                <div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Desconcentración / distracción</b></div>
				            		<div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">10</b></div>
					              </a>
					              <a class="list-group-item">
					                <div style="text-align: center">
				                		<b style="color:green;">
				                			Ver Todas
				                		</b>
					                </div>
					              </a>
					            </div>

					          </div>
					        </section>
              			</div>
            		</div>
          		</div>
        	</section>
		</div>
	</div>
</div>
