<div class="page page-ng-table">
    <div class="pageheader">
        <h2>{{page.title}} <span></span></h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    {{main.title}}
                </li>
                <li>
                    <a href="javascript:;">Maestros</a>
                </li>
                <li>
                    <a ui-sref="app.master.checklist">{{page.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pagecontent">
        <div class="row">
            <div class="col-md-12">
                <section class="tile" fullscreen="isFullscreen06">
                    <div class="tile-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label text-uppercase pt-10"><strong>Título</strong></label>
                                <div class="col-sm-3">
                                    <input class="form-control underline-input" type="text" ng-model="checklist.name" >
                                </div>
                            </div>
                        </form>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre item</th>
                                    <th>Opciones</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in checklist.items">
                                    <td>
                                        <input class="form-control underline-input" type="text" ng-model="item.name" >
                                    </td>
                                    <td>
                                        <button class="btn bg-blue-ps-1 br-15 b-0" ng-click="openModalAddOptions(item.id, item.name, checklist.name)" ng-disabled="!item.name || !checklist.name">Agregar opciones</button>
                                    </td>
                                    <td data-title="'Eliminar'" >
                                        <img ng-click="removeItem($index)" ng-src="https://s3-sa-east-1.amazonaws.com/efinding/icons/CHECKLIST_BASURERO.png" style="width:19px; cursor:pointer" uib-tooltip="Eliminar item">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                            <button class="text-right bg-yellow-ps b-0 br-50-percent" style="padding: 7px 14px" ng-click="generateItem()" ng-disabled="page.buttons.oneMoreItem.disabled"><strong>+</strong></button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                <!--button class="bg-blue-ps-1 pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white ml-20 mb-10" ng-click="updateOrCreateChecklist()" uib-tooltip="Guardar checklist"><i class="fa fa-floppy-o"></i></button-->
                                <button class="btn btn-green-ps br-20 text-md pl-20 pr-20" type="submit" uib-tooltip="Guardar checklist" ng-click="updateOrCreateChecklist()">Guardar cambios</button>   
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="addItemOptionsModal.html">
        <div class="modal-body text-center text-gray">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre item</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in modal.checklistItems">
                        <td>
                            <input class="form-control underline-input" type="text" ng-model="item.name" >
                        </td>
                        <td data-title="'Eliminar'" class="text-center">
                            <img ng-click="removeItem($index)" ng-src="https://s3-sa-east-1.amazonaws.com/efinding/icons/CHECKLIST_BASURERO.png" style="width:19px; cursor:pointer" uib-tooltip="Eliminar item">

                            <img ng-if="item.items.length > 0 " src="https://s3-sa-east-1.amazonaws.com/efinding/icons/USUARIOS_INFO.png" style="width:24px; cursor:pointer; margin-left: 15px;" uib-tooltip="Más info" ng-click="openModalAddOptions(item.id, item.name)">
                            <img ng-if="item.items.length == 0 " src="https://s3-sa-east-1.amazonaws.com/efinding/icons/USUARIOS_INFO_PLOMO.png" style="width:24px; cursor:pointer; margin-left: 15px;" uib-tooltip="Más info" ng-click="openModalAddOptions(item.id, item.name)">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button class="text-right bg-yellow-ps b-0 br-50-percent" style="padding: 7px 14px" ng-click="generateItem()" ng-disabled="page.buttons.oneMoreItem.disabled"><strong>+</strong></button>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-rounded-10 mb-10" type="button" ng-click="createChecklistOrAssignItems(modal.checklistItems)" ng-disabled="">Guardar</button>    
            <button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
        </div>
    </script>

    <script type="text/ng-template" id="addSubItemOptionsModal.html">
        <div class="modal-body text-center text-gray">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre Subitem</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in modal.checklistItems">
                        <td>
                            <input class="form-control underline-input" type="text" ng-model="item.name" >
                        </td>
                        <td data-title="'Eliminar'" class="text-center">
                            <img ng-click="removeItem($index)" ng-src="https://s3-sa-east-1.amazonaws.com/efinding/icons/CHECKLIST_BASURERO.png" style="width:19px; cursor:pointer" uib-tooltip="Eliminar item">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button class="text-right bg-yellow-ps b-0 br-50-percent" style="padding: 7px 14px" ng-click="generateItem()" ng-disabled="page.buttons.oneMoreItem.disabled"><strong>+</strong></button>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-rounded-10 mb-10" type="button" ng-click="createChecklistOrAssignItems(modal.checklistItems)" ng-disabled="">Guardar</button>    
            <button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
        </div>
    </script>
</div>
