<div class="page page-dashboard">
  <div class="pageheader">
    <h2><b>{{page.title}}</b></h2>
  <div class="row">

    <div class="col-md-6">
      <section class="tile">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font"><strong>Tasa de accidentabilidad</strong> (Globales)</h1>
              </div>
              <div class="tile-body">
                <highchart config="accidentabilidadGlobal"></highchart>
              </div>
          </section>
    </div>

    <div class="col-md-6">
      <section class="tile">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font"><strong>Tasa de siniestralidad</strong> (Globales)</h1>
              </div>
              <div class="tile-body">
                <highchart config="siniestralidadGlobal"></highchart>
              </div>
          </section>

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="col-md-12">
        <section class="tile">
                <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>Tasa acumulada de ACCIDENTABILIDAD</strong></h1>
                </div>
                <div class="tile-body text-center">
                  <h1 class="m-0" style="color: green; font-size: 400%;">
                    <b>
                      23.81
                    </b>
                  </h1>

              <span class="text" style="font-size: 85%;">
                Total empresa: de todas las obras al mes consultado
              </span>
                </div>
            </section>
      </div>

      <div class="col-md-12">
        <section class="tile">
                <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>Tasa acumulada de SINIESTRALIDAD</strong></h1>
                </div>
                <div class="tile-body text-center">
                  <h1 class="m-0" style="color: green; font-size: 400%;">
                    <b>
                      23.81
                    </b>
                  </h1>
              <span class="text" style="font-size: 85%;">
                Total empresa: de todas las obras al mes consultado
              </span>
                </div>
            </section>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-6">
        <section class="tile">
                <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>Índice de Frecuencia</strong></h1>
                </div>
                <div class="tile-body">
                  <highchart config="titulo"></highchart>
                </div>
            </section>
      </div>

      <div class="col-md-6">
        <section class="tile">
                <div class="tile-header dvd dvd-btm">
                  <h1 class="custom-font"><strong>Índice de Gravedad</strong></h1>
                </div>
                <div class="tile-body">
                  <highchart config="titulo2"></highchart>
                </div>
            </section>
      </div>
    </div>
  </div>
</div>
