<div class="page page-dashboard">
  <div class="pageheader">
    <h2><b>{{page.title}}</b></h2>
  </div>

  <div class="row">
    <section class="tile">
            <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><strong>Cantidad de hallazgos</strong> (Globales)</h1>
            </div>

            <div class="tile-body">
              <div class="row">
                  <div class="col-md-8 solid">
                    <highchart config="cantidadHallazgos"></highchart>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-12 solid">
                  <section class="tile tile-simple">
                    <div class="tile-body text-center">
                      <h1 class="m-0" style="color: green; font-size: 500%;"><b>{{dashboard.cantHallazgosGlobales}}</b></h1>
                      <span class="text" style="font-size: 150%;"><b>Hallazgos encontrados</b></span>
                    </div>
                  </section>
                </div>
                <div class="col-md-12 solid">
                  <section class="tile" >
                <div class="tile-widget">
                  <highchart config="cantidadHallazgosDonut"></highchart>
                </div>
              </section>
                </div>
                  </div>
              </div>
            </div>
        </section>
  </div>

  <div class="row">
    <section class="tile">
            <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><strong>Estado Cumplimiento de Hallazgos</strong></h1>
            </div>
            <div class="tile-body">
              <div class="row">
                  <div class="col-md-3 solid">
                    <highchart config="cumplimientoHallazgosDonut"></highchart>
                  </div>
                  <div class="col-md-3 solid">
                <section class="tile tile-simple">
                    <div class="tile-body text-center">
                      <h1 class="m-0" style="color: orange; font-size: 500%;"><b>{{dashboard.cumplimientoGlobal}}</b></h1>
                    <span class="text" style="font-size: 150%;"><b>% de Resueltos</b></span>
                    </div>
                </section>
              </div>
              <div class="col-md-6">
                <section class="tile" >
              <div class="tile-widget">
                      <div class="tile-body text-center solid">
                        <div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Hallazgos Pitágora</b></div>
                        <div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">{{dashboard.cumplimientoInterno}}</b></div>
                      </div>
                      <div class="tile-body text-center solid">
                        <div style="display:inline-block;width:80%; text-align: left; font-size: 150%"><b>Hallazgos contratistas</b></div>
                        <div style="display:inline-block;width:19%; text-align: left; font-size: 150%"><b style="color: orange;">{{dashboard.CumplimientoContratistas}}</b></div>
                      </div>
              </div>
            </section>
              </div>
              </div>
            </div>
        </section>
  </div>

  <div class="row">
    <section class="tile">
            <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><strong>Indice de hallazgos por mes para obras seleccionadas</strong></h1>
            </div>
            <div class="tile-body">
              <div class="row">
                  <div class="col-md-12 solid">
                    <section class="tile tile-simple">
                    <div class="tile-body text-center">
                      <ui-select class="b-solid br-15" ng-model="page.filters.constructions2.selected" multiple close-on-select="true" ng-change="changeConstructions();" ng-disabled="page.filters.constructions2.disabled" title="Obras">
                  <ui-select-match placeholder="Buscar...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="construction in page.filters.constructions2.list | propsFilter: {name: $select.search}">
                      {{construction.name}}
                    </ui-select-choices>
                </ui-select>
                    </div>
                </section> 
                  </div>
              <div class="col-md-12">
                <highchart config="indiceHallazgos"></highchart>
              </div>
              </div>
            </div>
        </section>
  </div>
  <div class="row">
    <div class="col-md-6">
      <section class="tile">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font"><strong>Causas Directas</strong></h1>
              </div>
              <div class="tile-body">
                <div class="row">
                    <!--div class="col-md-6">
                      <highchart config="causasDirectas"></highchart>
                    </div-->
                    <div class="col-md-12">
                      <div class="tile-body text-center">
                      <h1 class="m-0" style="color: orange; font-size: 500%;"><b>{{dashboard.causasDirectasTotal}}</b></h1>
                    <span class="text" style="font-size: 150%;"><b>Directas</b></span>
                    </div>
                    </div>
                    <div class="col-md-12">
                  <section class="tile tile-simple">
                    <div class="tile-body p-0">
                      <div class="list-group no-radius no-border">
                        <a class="list-group-item" ng-repeat="causaDirecta in dashboard.causasDirectas">
                          <div style="display:inline-block;width:80%; text-align: left; font-size: 150%">   <b>{{causaDirecta.causa_directa}}</b>
                          </div>
                        <div style="display:inline-block;width:19%; text-align: left; font-size: 150%">   <b style="color: orange;">{{causaDirecta.num_reports}}</b>
                        </div>
                        </a>
                      </div>
                    </div>
                  </section>
                    </div>
                </div>
              </div>
          </section>
    </div>

    <div class="col-md-6">
      <section class="tile">
              <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font"><strong>Causas básicas</strong></h1>
              </div>
              <div class="tile-body">
                <div class="row">
                    <!--div class="col-md-6">
                      <highchart config="causasBasicas"></highchart>
                    </div-->
                    <div class="col-md-12">
                      <div class="tile-body text-center">
                      <h1 class="m-0" style="color: orange; font-size: 500%;"><b>{{dashboard.causasBasicasTotal}}</b></h1>
                    <span class="text" style="font-size: 150%;"><b>Básicas</b></span>
                    </div>
                    </div>
                    <div class="col-md-12">
                  <section class="tile tile-simple">
                    <div class="tile-body p-0">
                      <div class="list-group no-radius no-border">
                        <a class="list-group-item" ng-repeat="causaBasica in dashboard.causasBasicas">
                          <div style="display:inline-block;width:80%; text-align: left; font-size: 150%">   <b>{{causaBasica.causas_basica}}</b>
                          </div>
                        <div style="display:inline-block;width:19%; text-align: left; font-size: 150%">   <b style="color: orange;">{{causaBasica.num_reports}}</b>
                        </div>
                        </a>
                      </div>
                    </div>
                  </section>
                    </div>
                </div>
              </div>
          </section>
    </div>
  </div>
</div>
